/*
 *
 * General Info
 *
 * The following set of styling rules is hand-written mobile-first.
 * It is organized and categorized by the section of the website it defines.
 * To find rules related to other device sizes, search under the main-level sections
 * entitled "Desktop Styling Rules" and "Tablet Styling Rules"
 *
 * - Atlas Web Development
 *
 */

/*
 *
 * Global Styling Rules
 *
 * Styling rules related to the site's global layout and similar overarching elements
 *
 */

 @font-face {
    font-family: "Libre Baskerville";
    src: url("../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
}

html {

    width: 100%;
    height: 100%;
    font-family: "Libre Baskerville", sans-serif;
    color: #000;
    background-color: #ede4ce;
    scroll-behavior: smooth;

}

body {

    width: 100%;
    height: 100%;

}

.wrapper {
    
    min-height: 95%;

}

.fa {

    text-decoration: none;
    padding: 10px;
    font-size: 19px;
    margin: 10px 10px 20px 10px;

}

.float-r {

    float: right;
    width: 100%;

}

.float-l {

    float: left;
    width: 100%;

}

.float-c {

    margin: auto;
    width: 100%;

}

.center {

    text-align: center;

}

/*
 *
 * Header
 *
 * Styling rules related the site's header can be found here.
 *
 */

header{

    background-color: #4e3f31f3;
    color: #f4f0e1;
    margin-bottom: 150px;
    
}

 #brand {

    top: 0%;
    left: 50%;
    margin-top: 25px;
    width: 100px;
    transform: translate(-50%);
    position: absolute;

 }

 .hero-txt {

    position: absolute;
    text-align: center;
    top: 30%;
    transform: translate(-50%, -50%);
    left:50%;
    font-size: 2em;
    z-index: 1;
    display: block;
    width: 100%;
    color: #FFF;

 }

 header h2 {

    padding: 10px;

 }

 header p {

    padding: 5px 10%;

 }

/*
 *
 * Navigation
 *
 * Styling rules related the site's navigation can be found here.
 *
 */

a {

    text-decoration: none;

}

.nav-bar li {

    list-style: none;

}

.nav-bar {

    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    background-color: #ede4ce;
    width: 100vw;
    height: 0px;

}

.nav-links {

    width: 100%;
    padding: 0px;

}

.nav-links a {

    color: #FFF;

}

.menu {

    max-height: 0px;
    width: 50%;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    gap: 1em;
    font-size: 18px;
    text-align: center;
    position: fixed;
    left: 25%;
    top: 0%;

}


input[type=checkbox]{

    display:none;
    position: absolute;
    top: 0;
    right: 0;

}

input[type=checkbox]:checked ~ .menu{

    max-height: 300px;
    

}

.hamburger {

    font-size: 28px;
    position: fixed;
    right: 0;
    top: 0;
    padding: 25px;

}

.overlay-content {

    background: #e1d8bc;
    overflow: hidden;
    position: fixed;
    height: 100vh;
    top: 0%;
    left: 0%;
    width: 0%;
    transition:0.3s;
    text-align: center;
    z-index: 2;
    padding-top: 150px;

}

.overlay-content a {

    display: block;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    padding: 30px;

}

.overlay-content a:hover {

    background-color: #f4eddc;

}

.openBtn {

position: fixed;
color: black;
top: 0%;
right: 0%;
z-index: 2;

}

.closeBtn {

    font-size: 40px;
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 0px 15px;
    color: black;

}

.swiper {

    height: 50%;
    width: 100%;

}

.swiper img {

    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;

}

.swiper-pagination {

    width: 50%;

}

#hero {

    width: 100vw;
    height: 50vh;
    object-fit: cover;

}

.fa-bars {

    color: black;

}

/*
 *
 * Content
 *
 * Styling rules related the site's content can be found here.
 *
 */

content {

    display: block;
    height: 100%;
    width: 100%;

}

.content-section {

    padding: 50px;

}

.content-section p {

    text-indent: 2em;
    padding-top: 20px;

}

h1 {

}

h3 {

    text-align: center;
    padding: 20px 5px;
    font-size: 20px;
    margin-bottom: 15px;

}

.summary {

    font-size: 20px;
    padding-bottom: 20px;
    font-weight: 200;

}

.call-to-action {

    color:black;
    font-size: 23px;
    font-weight:bold;
    padding: 50px 0px 30px 0px;

}

.flag-important {

    border-bottom: 5px solid #c24b23;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 15px;
    display: inline-block;
    text-align: center;

}

.icon {

    margin: auto;
    width: 40px;
    padding-bottom: 5px;

}

.flag-minor {

    border-bottom: 4px solid #c24b23;
    line-height: 10px;
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    margin-bottom: 20px;
    
}

h2 {

    padding: 10px 0px;

}

content p {

    text-indent: 1.5em;
    padding: 5px 0px;

}

.centered {

    text-align: center;

}

.card-sm {

    margin-top: 150px;
    padding: 20px 40px;
    width: 100%;

}

.card-sm p {

    padding: 5px;
    padding-bottom: 20px;
    text-indent: 2em;

}

.card-md {

    padding: 50px 40px;
    position: relative;
    width: 100%;
    overflow: hidden;

}

.pfp {

    margin: auto;
    width: 80vw;
    height: 80vw;
    border-radius: 50%;
    margin-bottom: 30px;
    object-fit: cover;

}

.sideP {

    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;

}

.blockquote {

    padding: 20px 0px;

}

.blockquote--quoted:before {

    font-family:Georgia, 'Times New Roman', Times, serif;
    content: "\201c";
    font-size: 80px;
    color: #000;
    display: block;
    margin-bottom: -70px;
    margin-top: -20px;

}

.quote {

    padding: 0px 50px;
    font-style: italic;
}

.credit {

    text-align: right;
    padding: 10px 50px;
    font-weight: bold;

}

.showcase-img {

    width: 100%;
    height: 100vh;
    background-attachment: fixed;

}

.bg-p-right {

    background-position: 72%;

}

.fa.scroll-cue {

    position: absolute;
    left: 50%;
    margin-left: 0%;
    padding-left: 0%;
    margin-top: 30px;
    font-size: 40px;
    transform: translate(-50%);
    color: white;

}

.scroll-cue-bottom {

    bottom: 15%;

}

/*
 *
 * Footer
 *
 * Styling rules related the site's footer can be found here.
 *
 */

footer {

    background-color: #e1d8bc;
    color: #000;
    min-height: 15%;
    overflow: hidden;
    width: 100%;
    bottom: 0px;
    padding: 30px;

}

#footer-text {

    text-align: center;

}

.fa-instagram {

    color: #000;

}

.fa-pinterest {

    color: #000;

}

.fa-phone {

    color: #000;

}

.fa-envelope {

    color: #000;

}

.footer-section {

    width: 100%;
    height: 150px;
    display: inline-block;
    text-align: center;
    padding-bottom: 50px;

}

.action-button {

    background-color: #c24b23;
    width: 50%;
    margin: auto;
    color: #eae7df;
    padding: 5px;
    margin-top: 15px;

}

.explore a {

    padding: 10px;

}

.atlas {

    font-size: 0.8em;
    padding: 20px 0px;

}

.atlas a {

    color: black;

}

/*
 *
 * Desktop Styling Rules
 *
 * lorem ipsum
 *
 */

@media only screen and (min-width: 768px){

/*
 *
 * Desktop Navigation Styles
 *  
 */

 .nav-bar {

    width: 100%;
    height: 150px;
    padding: 0px;

}

.overlay-content{

    display: none;

}

.openBtn {

    display: none;

}

header {

    margin-bottom: 0%;

}

.menu {

    max-height: 600px;
    width: 40%;
    display: flex;
    justify-content: center;
    top: 0px;
    transform: translate(0%, 150%);
    align-items: center;
    position: absolute;
    

}

.left {

    left: 0px;
    transform: translateX(-25%, 150%);

}

.right {

    right: 0px;
    transform: translate(80%, 150%);

}

.float-l {

    float: left;
    width: auto;

}

.float-r {

    float: right;
    width: auto;

}

.float-c {

    margin: auto;
    width: auto;

}

.menu a {

    color: #000;

}

.menu li:hover {

    background-color: #e1d8bc;
    transition: 0.3s ease;
    border-bottom: #5c5c5c 1px solid;

}

.menu li {

    margin: 0px 15px;

}

.menu li a {

    padding: 5px 10px;
    display: block;

}

.active-link {

    border-bottom: #5c5c5c 1px solid;

}

.hero-txt {

    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -80%);
    left:50%;
    font-size: 3em;
    z-index: 2;
    display: block;

 }

.fa {

    font-size: 25px;

}


.swiper {

    height: 50%;
    width: 50%;


}

.card-sm {

    margin-top: 0px;
    padding: 50px;
    width: 100%;

}

.card-md {

    padding: 20px 40px;
    width: 33%;
    height: 450px;
    display: inline-block;

}

#hero {

    display: block;
    height:60vh;
    width:100%;
    object-fit:cover;

}

.swiper {

    border: #FFF 1px solid;

}

.footer-section {

    width: 33%;
    height: 250px;
    overflow: hidden;
    text-align: center;

}

.action-button {

    width: 40%;
    transform: translate(0%, 200%);

}


.bottom {

    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);

}

#contactForm {

    margin-top: 0%;

}

.pfp {

    float: right;
    border-radius: 0%;
    width: auto;
    height: auto;
    margin: 25px;

}

.flag-minor {

    border-bottom: 3px solid #c24b23;
    line-height: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    display: inline-block;
    left: 0%;
    transform: translate(0%);
    position: relative;
    
}

h3{

    text-align: left;
    padding-left: 0px;
    font-size: 30px;

}

.blockquote {

    width: 35%;
    margin: 0%;
    transform: translate(55%);

}

.showcase-img {

    width: 100%;
    height: 110vh;
    background-position: center;

}

}

/*
 *
 * Tablet Styling Rules
 *
 * lorem ipsum
 *
 */